.main {
  @extend .flexColumn;
  background-color: $white;
  width: 80%;
  padding-bottom: 50px;
  margin-bottom: 50px;

  h3 {
    color: $primary-color;
  }
  .about {
    width: 90%;
  }

  .education-topic {
    width: 90%;
    section {
      @include flex(row);
      margin-bottom: 10px;
      h5 {
        width: 10%;
        padding: 0;
        margin: 0;
      }
      article {
        width: 100%;
        padding: 0 10px;
        background-color: $body-bg;
      }
    }
  }
}
